<!DOCTYPE html>
<html lang="en">
<head>
<title>INICIO</title>
<meta charset="utf-8">

<meta name="viewport" content="width=device-width,initial-scale=1.0">
<!--CSS-->
{% load static %}
<link rel="stylesheet" href={% static 'delitos/css/style.css' %}>
           

</head>

<body>


<div class="header">
        <ul class="menu">
                                    
                <li ><a href="/registro">Registro<em></em><strong></strong></a></li> 
                <li ><a href="sesion/">Inicio de Sesion<em></em><strong></strong></a></li>                 
        </ul>
</div>     

</body>