<!DOCTYPE html>
<html lang="en">
<head>
<title>REGISTRO</title>
<meta charset="utf-8">

<meta name="viewport" content="width=device-width,initial-scale=1.0">
<!--CSS-->
{% load static %}
<link rel="stylesheet" href={% static 'delitos/css/style.css' %}>
           

</head>
<body>
        
    <div class="container">
        <h3>REGISTRO DE USUARIO</h3>
        <form action="index.php" method="POST">
            <div class="lineal">
                <label for="nombre" >NOMBRES</label>
                <input type="text" id="nombre" name="nombre">
            </div>
            <br>
            <div class="lineal">
                <label for="nombre" >APELLIDOS</label>
                <input type="text"  id="apellidos" name="apellidos">
            </div>
            <br>

            <div class="lineal">
                <label for="nombre" >RUT</label>
                <input type="text"  id="rut" name="rut">
            </div>
            <br>

            <div class="lineal">
                <label for="nombre" >CORREO ELECTRONICO</label>
                <input type="email"  id="email" name="email">
            </div>
            <br>

            <div class="lineal">
                <label for="nombre" >CLAVE UNICA</label>
                <input type="text"  id="clave" name="clave">
            </div>
            
            <br>
            <button type="submit" class="btn">CREAR USUARIO</button>
        </form>

    </div>
</body>