<!DOCTYPE html>
<html lang="en">
<head>
<title>REGISTRO</title>
<meta charset="utf-8">

<meta name="viewport" content="width=device-width,initial-scale=1.0">
<!--CSS-->
{% load static %}
<link rel="stylesheet" href={% static 'delitos/css/style.css' %}>
           

</head>
<body>
    <div class="container">

        <h3>MENU PRINCIPAL</h3>
        <div class="fila">
            <div class="menu-pp">
                <a  href="../usuarios/denuncia/">INGRESAR DENUNCIA</a>
            </div>
            <div class="menu-pp">
                <a href="../delitos/historial/delitos/">HISTORIAL DE DELITOS</a>
            </div>
        </div>
        <br>
        <br>
        <a class="salir" href="../../sesion/">SALIR</a>

    </div>
</body>